
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

:root{
    --main-color:#07462a;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }

 *{
    font-family: 'Poppins';
    margin:0 auto; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
 }








 .footer{
    background: url(images/img_footer.jpg) no-repeat;
    background-size:auto;
    background-position: center;
 }
 
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
 }
 
 .footer .box-container .box h3{
    color:var(--light-black);
    font-size: 1.5rem;
    padding-bottom: 2rem;
 }
 
 .footer .box-container .box a{
    color:var(--light-black);
    font-size: 1rem;
    padding-bottom: 1.5rem;
    display: block;
 }
 
 .footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
 }
 
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
 }
 
 .footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-black);
    font-size: 2rem;
    color:var(--light-black);
 }
 
 .footer .credit span{
    color:var(--main-color);
 }
 






 /* media queries  */

@media (max-width:1200px){

    section{
       padding:3rem 5%;
    }
 
 }
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
    section{
       padding:3rem 2rem;
    }
 
    .home .slide .content h3{
       font-size: 10vw;
    }
 
 }
 
 @media (max-width:768px){
 
    /* .heading h1{
       font-size: 4rem;
    }
 
    #menu-btn{
       display: inline-block;
       transition: .2s linear;
    }
 
    #menu-btn.fa-times{
       transform: rotate(180deg);
    }
 
    .header .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: var(--white);
       border-top: var(--border);
       padding:2rem;
       transition: .2s linear;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
    .header .navbar a{
       display: block;
       margin:2rem;
       text-align: center;
    } */
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .heading-title{
       font-size: 3.5rem;
    }
 
 }
body {
    font-family: Poppins, sans-serif;
    background-color: rgb(247, 241, 230);
}

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    height: 1.8rem;
    width: 1.8em;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

.nav-logo {
    color: #2f9e44;
    font-weight: 500;
}


@media only screen and (max-width: 375px) {
    .nav-text {
        height: 21px;
        color: rgb(82, 81, 81);
        font-style: normal;
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.02em;
        color: #121212;
    }

    hr {
        border-top: 0.1px solid rgb(173, 170, 170);
        /* width: 100vw; */
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        margin: 0 15px;
    }

    .nav-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 2.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
    }

    .quote {

        width: 80%;
        margin: 40px auto;
        text-align: center;
    }


    .quote h2 {
        font-size: 1rem;
        font-weight: 400;
    }

    .quote p {
        font-size: 0.8rem;
        font-style: italic;
    }
}


